.post {
    max-width: 40em;
}

.post + .post {
    margin-top: 3em;
}

.post > h2 {
    margin-bottom: 0.1em;
}

.post > h2 > .post-link {
    color: #000;
    text-decoration: none;
}

.post-info {
    margin-top: 0;
    font-size: 80%;
    color: #888;
}