@import url(http://fonts.googleapis.com/css?family=Life+Savers:400,700);

/* -------------------------------------------------------------------------- */
/* Base Rules                                                                 */
/* -------------------------------------------------------------------------- */

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Life Savers";
}

blockquote {
    border-left: 3px solid #888;
    color: #888;
    margin: 0;
    padding-left: 1em;
}

dquo {
    margin-left: -0.3em;
}

img {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/* Layout Rules                                                               */
/* -------------------------------------------------------------------------- */

.column {
    width: 45%;
}
.column-left {
    float: left;
}
.column-right {
    float: right;
}

@media (max-width: 768px) {
    .column       { width: auto; }
    .column-left  { float: none; }
    .column-right { float: none; }
}

.site {
    margin: 0 auto;
    max-width: 65em;
}

header {
    text-align: center;
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

main {
    padding: 0 1em;
}

footer {
    clear: both;
    border-top: 1px solid #888;
    color: #888;
    font-size: 0.8em;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: baseline;
            align-items: baseline;

    -webkit-flex-direction: row;
            flex-direction: row;

    margin-top: 1em;
    padding: 0.5em 1em 1em 1em;
}
footer section {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.footer-center {
    text-align: center;
}
.footer-right {
    text-align: right;
}
@media (max-width: 768px) {
    footer {
        display: block;
        padding-top: 1em;
    }
    .footer-center {
        float: right;
        margin-left: 1em;
    }
    .footer-right {
        text-align: left;
    }
}

/* -------------------------------------------------------------------------- */
/* Module Rules                                                               */
/* -------------------------------------------------------------------------- */

.nav-link {
    display: inline-block;
    vertical-align: middle;

    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    color: #888;

    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto -2px;
}

.nav-image {
    border-top: 0;
    border-bottom: 0;
}

@media (max-width: 1020px) {
    .nav-link {
        padding: 0.5em 0.5em;
    }

    .nav-image {
        width: 95%;
    }
}

.img-logo {
    max-width: 288px;
}

.social-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: #888;
    border-radius: 50%;
    vertical-align: middle;
}

.pullout {
    max-width: 50%;
    float: right;
    margin-left: 2em;
}
.pullout img {
    max-width: 100%;
}
@media (max-width: 768px) {
    .pullout {
        max-width: 125%;
        float: none;
        margin: 0 -1em;
    }
}

.float-clearer {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.placeholder {
    margin-top: 1em;
    text-align: center;
}

hr.gradient {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin: 2em 0 3em 0;
}

ul.hanging {
    margin-left: 0;
    padding-left: 0;
}
@media (max-width: 768px) {
    ul.hanging {
        padding-left: 1em;
    }
}

/* -------------------------------------------------------------------------- */
/* About Us Page                                                              */
/* -------------------------------------------------------------------------- */

#bios div {
    clear: both;
}
