/* Base Rules -------------------- */

body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 100%;
    font-weight: 200;
    line-height: 1.5em;
    color: #888;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 400;
}

blockquote {
    border-left: 3px solid #888;
    margin: 0;
    padding-left: 1em;
}

p, li {
    max-width: 35em;
}

img {
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background-color: #888;
}

/* Layout Rules -------------------- */

.site {
    margin: 0 auto;
    max-width: 65em;
}

header {
    text-align: center;
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

main {
    margin-top: 1em;
    padding: 0 1em;
}

footer {
    clear: both;
    border-top: 1px solid #888;
    font-size: 0.8em;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: baseline;
    align-items: baseline;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-top: 1em;
    padding: 0.5em 1em 1em 1em;
}

footer section {
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
}

footer section:nth-child(even) {
    text-align: right;
}

@media (max-width: 768px) {
    footer {
        display: block;
        padding-top: 1em;
    }
    footer section:nth-child(even) {
        text-align: left;
    }
}

/* Module Rules -------------------- */

.nav-link {
    display: inline-block;
    vertical-align: middle;

    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    color: inherit;

    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto -3px;
}

.nav-image {
    border-top: 0;
    border-bottom: 0;
}

@media (max-width: 1020px) {
    .nav-link {
        padding: 0.5em 0.5em;
    }

    .nav-image {
        width: 95%;
    }
}

.img-logo {
    max-width: 288px;
}

.pullout {
    max-width: 50%;
    float: right;
    margin-left: 2em;
}

.pullout img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .pullout {
        max-width: 125%;
        float: none;
        margin: 0 -1em;
    }
}

.float-clearer {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.placeholder {
    margin-top: 1em;
    text-align: center;
}

ul.hanging {
    margin-left: 0;
    padding-left: 1em;
}

/* About Us Page -------------------- */

#bios div {
    clear: both;
}
