<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}media/favicon.ico">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml">
        <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
        {% if page.use_blog_css %}
            <link rel="stylesheet" href="{{ site.baseurl }}css/blog.css">
        {% endif %}
    </head>
    <body>
        <div class="site">
            <header>
                <nav>
                    <ul>
                        <li><a class="nav-link" href="{{ site.baseurl }}mission/">Mission</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}classes/">Classes</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}schedule/">Schedule</a></li>
                        <li><a class="nav-link nav-image" href="{{ site.baseurl }}"><img class="img-logo" src="{{ site.baseurl }}media/trh-logo.png" alt="The Rabbit Hole Logo"></a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}faq/">FAQ</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}contact/">Contact</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}blog/">Blog</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}fun/">Fun</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <section id="page-content">
                    {{ content }}
                    <i class="float-clearer"></i>
                </section>
            </main>
            <footer>
                <section class="footer-left">&copy; The Rabbit Hole, 2014</section>
                <section class="footer-center"><!-- social network images go here --></section>
                <section class="footer-right">Come down the rabbit hole.</section>
            </footer>
        </div>
    </body>
</html>
