<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>
    <body>
        <div class="site">
          <header>
            <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <div>
                <div class="circle circle-bg" id="circle-bg-1"></div>
                <div class="circle circle-bg" id="circle-bg-2"></div>
                <div class="circle circle-bg" id="circle-bg-3"></div>
                <div class="circle circle-bg" id="circle-bg-4"></div>
                <div class="circle circle-bg" id="circle-bg-5"></div>
                <div class="circle circle-bg" id="circle-bg-6"></div>
                <div class="circle circle-bg" id="circle-bg-7"></div>
            </div>
            <div id="bunny">
                <div class="circle circle-bg" id="bunny-face"></div>
                <div class="circle circle-bg" id="bunny-ear-left-outer"></div>
                <div class="circle circle-bg" id="bunny-ear-left-inner"></div>
                <div class="circle circle-bg" id="bunny-ear-right-outer"></div>
                <div class="circle circle-bg" id="bunny-ear-right-inner"></div>
            </div>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item" id="nav-item-mission">
                        <a href="{{ site.baseurl }}/mission/" class="circle"><span class="circle-text">Our mission</span></a>
                    </li>
                    <li class="nav-item" id="nav-item-classes">
                        <a href="{{ site.baseurl }}/classes/" class="circle"><span class="circle-text">Classes</span></a>
                    </li>
                    <li class="nav-item" id="nav-item-schedule">
                        <a href="{{ site.baseurl }}/schedule/" class="circle"><span class="circle-text">Schedule</span></a>
                    </li>
                    <li class="nav-item" id="nav-item-contact">
                        <a href="{{ site.baseurl }}/contact/" class="circle"><span class="circle-text">Contact</span></a>
                    </li>
                    <li class="nav-item" id="nav-item-faq">
                        <a href="{{ site.baseurl }}/faq/" class="circle"><span class="circle-text">FAQ</span></a>
                    </li>
                    <li class="nav-item" id="nav-item-fun">
                        <a href="{{ site.baseurl }}/fun/" class="circle"><span class="circle-text">Fun</span></a>
                    </li>
                    <li class="nav-item" id="nav-item-blog">
                        <a href="{{ site.baseurl }}/blog/" class="circle"><span class="circle-text">Blog</span></a>
                    </li>
                </ul>
            </nav>
          </header>
          <main>
              <aside id="social-media">
                  <ul>
                      <li><a href="#"><img class="social-media-icon" src="{{ site.baseurl }}/media/facebook.png" alt="Like us on Facebook"></a></li>
                      <li><a href="#"><img class="social-media-icon" src="{{ site.baseurl }}/media/twitter.png" alt="Follow us on Twitter"></a></li>
                      <li><a href="#"><img class="social-media-icon" src="{{ site.baseurl }}/media/pinterest.png" alt="Join us on Pinterest"></a></li>
                  </ul>
              </aside>
              <section id="page-content">
                  {{ content }}
              </section>
          </main>
          <footer>
              <p>&copy; 2014 {{ site.name }}</p>
              <p><a href="mailto:hello@kidzcreate.com">hello@kidzcreate.com</a></p>
              <p>A Marja Harmon Project :)</p>
          </footer>
        </div>
    </body>
</html>
